* {
	font-size: 13pt;  /* sets the font size for all elements. */
    /* look up reset style sheet */
}

body{
	background-color: #200772;
}
#main{
    margin: 3em;
    text-indent: 3em;
        
}
p{
	color: white;
	text-indent: 3em;
	margin-left: 5em;
}
/*header*/
header h1 {
	padding: 0.1em 5.33333333%;  /* 48px / 900px */
        font-size:3.6em;
        color: red;
        font-family: courier;
}
h2 {
        font-size: 1.8em;
        padding: 0em 8.48056537% .2em 8.48056537%;
        font-family: courier;
        color: red;
}

/* Navigtion */
a:link{
	background-color: white;
	color: navy;
	padding-top: 1em;
	padding-right: 1em;
	padding-left: 1em;
        font-family: courier;
}
a:visited{
    background-color: white;
	color: navy;
	padding-top: 1em;
	padding-right: 1em;
	padding-left: 1em;
        font-family: courier;
}
a:hover{
    background-color: red;
	color: navy;
	padding-top: 1em;
	padding-right: 1em;
	padding-left: 1em;
        font-family: courier;
}
a:active{
    background-color: #200772;
	color: white;
	padding-top: 1em;
	padding-right: 1em;
	padding-left: 1em;
        font-family: courier;
}
nav ol {
	padding-left: 5.33333333%;  /* 48px / 900px */
}
nav ol li{
	display: inline;
	list-style-type: none;
	padding-right: 1em;
}

/*footer*/
footer{
	font-family: courier;
	color: white;
}
/* ---------------------------   media queries ----------------------------- */

            /* laptops, large desktops */
            @media screen and (min-width:1150px){
                body {
                    margin: 10em;
                }
            }
	   @media screen and (max-width:990px){
		body{
		    margin:5em;
		}
		nav ol li{
                    display: block;
                    padding: .5em;
                }
				
			}

            /* ipad and desktop size */
            @media screen and (max-width:1024px){
                body {
                    margin: 5em;
                }
            }

            /* ipad portrait */
            @media screen and (max-width:768px){
                body {
                }
            }

            /* tablets in portrait mode */
            @media screen and (max-width:600px){
                
                nav ol li{
                    display: block;
                    padding: .5em;
                }
                #main{
                    width: 100%; /*62.8888889%; /* 566px / 900px */
                }

                #other{
                    width: 100%; /*36.7777778%; /* 331px / 900px */
                }
            }

            /* mobile device landscape */
            @media screen and (max-width:480px){
                body {
                    margin: 1em;
                }


            }

            /* mobile device portrait */
            @media screen and (max-width:320px){
                body {
                    margin: 1em;
                }
            }
            

/*form*/
#form{
    margin: auto;
    text-align: left;
    width: 600px;
  
    background-color: white;
}

fieldset{
    clear: both;
    border: 1px solid #00498e;
    
}
fieldset.buttons{
    border: none;
}
fieldset.contact{
    float: left;
}

fieldset.contact label{
    display: block;
    text-align: right
}

fieldset.contact input{
    width: 15em;    
}

fieldset.wrapper {
    border: 0;
    margin: auto;
}

fieldset.wrapper legend {
    color: #00498e;
    font-weight: bold; 
    font-size: 1.2em;
    margin-top: 10px;
}

fieldset.wrapper > legend {
    /* i only want the first legend ie if it follows the class wrapper */
    font-size: 2em; 
}


/* minor data validation, we would still need to use php to be certain */

fieldset.contact input:valid{
    border: medium solid mediumorchid;
}

fieldset.contact input:invalid{
    border: medium solid red;
}
fieldset.contact input.mistake:valid{
    border: medium solid red;
}

/***********************************************************************/

label {
    color: red;
    font-weight: bold;
    font-size: .9em; 
    display: block;
}

.required {
    font-weight:bolder;
    font-style:italic;
}

label.required:before {
    content: "* ";
}

span.required:after {
    color: #000;
    content: " Required *";
}

.mistake {
    color: #fff;
    background-color:#800;
    border: thin solid #000;
}

#errors ol li{
    color: #ff5555;
}

/*tables*/
table{
    
    margin-left: -5em;
    background-color: white;
    margin:auto;
}

table, td {
     border: 2px solid red;
}

th, td {
     text-align: center;
}
caption{
	color: red;
}