* {
	font-size: 13pt;  /* sets the font size for all elements. */
    /* look up reset style sheet */
}

body{
	background-color: #A2EF00;
}
#main{
    margin: 3em;
    text-indent: 3em;
        
}
#other{
    text-indent: 3em;
    
}
#info{
     margin: 3em;
    text-indent: 3em;
}
#form{
    margin: auto;
    text-align: left;
    width: 600px;
  
    background-color: #FFFD00;
}

fieldset{
    clear: both;
    border: 1px solid #00498e;
    
}
fieldset.buttons{
    border: none;
}
fieldset.contact{
    float: left;
}

fieldset.contact label{
    display: block;
    text-align: right
}

fieldset.contact input{
    width: 15em;    
}

fieldset.wrapper {
    border: 0;
    margin: auto;
}

fieldset.wrapper legend {
    color: #00498e;
    font-weight: bold; 
    font-size: 1.2em;
    margin-top: 10px;
}

fieldset.wrapper > legend {
    /* i only want the first legend ie if it follows the class wrapper */
    font-size: 2em; 
}


/* minor data validation, we would still need to use php to be certain */

fieldset.contact input:valid{
    border: medium solid mediumorchid;
}

fieldset.contact input:invalid{
    border: medium solid red;
}
fieldset.contact input.mistake:valid{
    border: medium solid red;
}

/***********************************************************************/

label {
    color: purple;
    font-weight: bold;
    font-size: .9em; 
    display: block;
}

.required {
    font-weight:bolder;
    font-style:italic;
}

label.required:before {
    content: "* ";
}

span.required:after {
    color: #000;
    content: " Required *";
}

.mistake {
    color: #fff;
    background-color:#800;
    border: thin solid #000;
}

#errors ol li{
    color: #ff5555;
}

/* nav section */
nav ol {
	padding-left: 5.33333333%;  /* 48px / 900px */
}
nav ol li{
	display: inline;
	list-style-type: none;
	padding-right: 3em;
}
/* header section */
header h1 {
	padding: 0.8em 5.33333333%;  /* 48px / 900px */
        font-size: 2.3em;
}
h2 {
        font-size: 1.8em;
        padding: .2em 8.48056537% .2em 8.48056537%;
        font-family: "comic sans ms";
}